<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder location="classpath:properties/*.properties"/>

    <context:annotation-config/>
    <context:component-scan base-package="com.shop.orderManager.services"/>
    <context:component-scan base-package="com.shop.orderManager.util"/>
    <context:component-scan base-package="com.shop.orderManager.dao"/>

    <import resource="classpath*:spring/spring-*.xml"/>
</beans>
